
#envelopeSection{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:#111;
    position:relative;
    overflow:hidden;
}

.envelope{
    position:relative;
    width:320px;
    height:210px;
    filter:drop-shadow(0 25px 45px rgba(0,0,0,.25));
}

.envelope-back{
    position:absolute;
    inset:0;
    background:#f7e7d8;
    border-radius:8px;
}

.envelope-front{
    position:absolute;
    bottom:0;
    width:100%;
    height:120px;
    background:#ead8c5;
    clip-path:polygon(
        0 0,
        50% 70%,
        100% 0,
        100% 100%,
        0 100%
    );
}

.envelope-flap{
    position:absolute;
    top:0;
    width:100%;
    height:120px;
    background:#efdfcf;
    clip-path:polygon(
        0 0,
        100% 0,
        50% 100%
    );
    transform-origin:top;
    transition:1.5s;
}

.letter{
    position:absolute;
    left:20px;
    right:20px;
    top:20px;
    height:180px;
    background:white;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    transition:1.5s;
    position:absolute;
    z-index:1;
}

.back{
    position:absolute;
    inset:0;
    background:var(--envelope);
    border-radius:12px;
}

.left{
    position:absolute;
    left:0;
    width:50%;
    height:100%;
    background:var(--envelope-dark);
    clip-path:polygon(0 0,100% 50%,0 100%);
}

.right{
    position:absolute;
    right:0;
    width:50%;
    height:100%;
    background:var(--envelope-dark);
    clip-path:polygon(100% 0,0 50%,100% 100%);
}

.bottom{
    position:absolute;
    bottom:0;
    width:100%;
    height:55%;
    background:var(--envelope);
    clip-path:polygon(0 0,50% 65%,100% 0,100% 100%,0 100%);
}

.flap{
    position:absolute;
    top:0;
    width:100%;
    height:120px;
    background:var(--paper-shadow);
    clip-path:polygon(0 0,100% 0,50% 100%);
    transform-origin:top;
    z-index:5;
}

.seal{
    position:absolute;
    left:50%;
    top:70px;
    transform:translateX(-50%);
    width:62px;
    height:62px;
    border-radius:50%;
    border:none;
    background:linear-gradient(
        180deg,
        #E8C766,
        #C99A2E
    );
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    font-size:24px;
    color:white;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
    z-index:20;
}

.touch{
    margin-top:40px;
    color:white;
    opacity:.75;
    letter-spacing:2px;
}

.ambient-light{
    position:absolute;
    width:450px;
    height:450px;
    border-radius:50%;
    background:radial-gradient(
        rgba(255,255,255,.65),
        transparent 70%
    );
    filter:blur(40px);
    animation:floatLight 8s infinite alternate
}

@keyframes floatLight{
    from{
        transform:
        translateY(-20px)
        scale(1);
    }
    to{
        transform:
        translateY(25px)
        scale(1.15);
    }
}